body {
  display: flex;
  align-items: center;
  justify-content: center;
}

body > div {
  max-width: 800px;
}

#doseeContainer > div {
  min-width: 640px;
  min-height: 480px;
  background-color: #000;
  border: 10px solid #000;
}

#helpTab > .hide {
  display: none;
}

label {
  white-space: nowrap;
}

#hardwareTab,
#optionsTab,
#helpTab {
  height: 25em;
  width: 40em;
}

.radio-inline {
  white-space: nowrap;
}

span.asterisk {
  color: red;
}
