:root {
  --max-height: 25rem;
  --max-width: 45rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

body > div > h2 {
  max-width: var(--max-width);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#doseeContainer > div {
  min-width: 640px;
  min-height: 480px;
  background-color: #000;
  border: 10px solid #000;
}

#helpTab > .hide {
  display: none;
}

label {
  white-space: nowrap;
}

#hardwareTab,
#optionsTab,
#helpTab {
  height: var(--max-height);
  width: var(--max-width);
}

.radio-inline {
  white-space: nowrap;
}

span.asterisk {
  color: red;
}
